body{
  background-color: rgb(206, 191, 169);
  height: 100vh;
}
.header{
  padding: 20px;
}
.header > input{
  width: 30em;
  height: 2.5em;
  border-radius: .5em;
  margin-left: 2em;
  border: none;
}
.header > button{
  height: 2.7em;
  border-radius: .6em;
  border: none;
  margin-left: 30vw;
  background-color: rgb(41, 150, 4);
  color: white;
}
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}